<header>
  <div class="header-line">
    <svg width="64" height="64" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" version="1.1" >
      <g class="icon-circle">
        <!-- <circle cx="64" cy="68" r="48" fill="#3e3a3a" stroke="none" /> -->
        <circle cx="64" cy="68" r="48" stroke="none" />
        <g class="icon-glass">
          <path d="M 40.36 81.87 C 36.51 95.33 74.96 106.35 78.82 92.89 L 84.07 52.79 L 56.2 44.8 L 40.36 81.87 z" />
        </g>
        <g class="icon-liquid">
          <path d="M 44.76 81.05 C 43.11 86.82 73.87 95.64 75.52 89.87 L 80.09 55.81 L 55.78 55.81 L 44.76 81.05 z" />
      </g>
      </g>
    </svg>
    <div class="header-title">
      <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
    </div>
  </div>
</header>