$primaryColor: #092237; // saffri night
$secondaryColor: #e60012; // mondriaan red
$subColor: #f2f1f6; // bright neptune *light

$backgroundColor: $subColor;
$noteColor: #fdfdfe; // bright neptune *more light
$headerColor: #1a1a1a;// Black Monochromatic Color
$bodyColor: #262626;// Black Monochromatic Color

$rectColor: $primaryColor;
$glassColor: $subColor;
$liquidColor: $secondaryColor;

$titleColor: $bodyColor;

$hrColor: #8f8f8f;

$codeColor: $subColor;
$linkColor: #27243b; // bright neptune dark
$quoteTextColor: $headerColor;
$quoteBorderColor: #27243b; // bright neptune dark
$tableBorderColor: $headerColor;