$primaryColor: #092237; // saffri night
$secondaryColor: #e60012; // mondriaan red
$subColor: #f2f1f6; // bright neptune *light

$backgroundColor: $subColor;
$noteColor: #fdfdfe; // bright neptune *more light
$headerColor: #02070b; // saffri night *monochromatic dark ?
$bodyColor: #040F18; // safari night *dark

$rectColor: $primaryColor;
$glassColor: $subColor;
$liquidColor: $secondaryColor;

$titleColor: $bodyColor;

$codeColor: $subColor;
$linkColor: #27243b; // bright neptune dark
$quoteTextColor: $headerColor;
$quoteBorderColor: #27243b; // bright neptune dark
$tableBorderColor: $headerColor;