$primaryColor: #02070b; // saffri night monochromatic dark ?
$secondaryColor: #e60012; // mondriaan red *
$subColor: #e6e5ef; // bright neptune *

$noteColor: #f2efec; // jazz brown more light

$backgroundColor: #eae6e0; // jazz brown light
$headerColor: $primaryColor;
$bodyColor: #040F18; // safari night dark

$rectColor: #092237; // safari night
$glassColor: $subColor;
$liquidColor: $secondaryColor;

$titleColor: $bodyColor;

$codeColor: $subColor;
$linkColor: #27243b; // bright neptune dark
$quoteTextColor: $headerColor;
$quoteBorderColor: #27243b; // bright neptune dark
$tableBorderColor: $headerColor;